.header-container {
  background: var(--surface);
  border-bottom: 0.0625rem solid var(--border);
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header-content {
  max-width: 90rem;
  margin: 0 auto;
  padding: 1rem 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.navbar-menu{
  display: none;
}

.navbar-mobile-header,
.navbar-mobile-footer {
  display: none;
}



